NUXT_PUBLIC_API_URI_CLIENT=https://api.tijdloze.rocks/
NUXT_PUBLIC_API_URI_SERVER=https://api.tijdloze.rocks/
NUXT_PUBLIC_AUTH0_CLIENT_ID=
NUXT_PUBLIC_AUTH0_CLIENT_DOMAIN=
NUXT_PUBLIC_AUTH0_AUDIENCE=
NUXT_PUBLIC_AUTH0_CALLBACK_URI=https://tijdloze.rocks/auth/callback
NUXT_PUBLIC_AUTH0_LOGOUT_URI=https://tijdloze.rocks/
NUXT_PUBLIC_GTAG_ID=
