
@import "styleConfig";
@import "tableStyles";

body {
  margin: 0;
  background-color: @backgroundColor;
  font-family: Arial, sans-serif;
  letter-spacing: 0.027em;
  line-height: 1.27em;
  text-align: justify;
}

.hidden {
  display: none;
}

img {
  border: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: @linkColor;
  &:hover {
    color: @hoverLinkColor;
  }
}

h2 {
  font-size: 140%;
  margin: 1em 1em 1.5em 1em;
}
h3 {
  font-size: 115%;
  margin: 1em 0 1em 0;
  padding: 0.3em 0 0.3em 1.2em;
}
h4 {
  font-size: 110%;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

p {
  margin: 0.2em 1.2em 0.4em 1.2em;
}


ul.info {
  .noBullets;
  margin: 5px 30px 35px 0;
  img {
    padding-right: 20px;
    vertical-align: bottom;
  }
}


div.notabs {
  padding: 0 2em 0 2em;

  // lijst tabs
  div.tabs {
    margin-bottom: 2.5em;
    div.tabtitels {
      margin: 0.5em 0 0 0;
      padding: 0.1em 0 0em 1.2em;
      vertical-align: top;
      h3 {
        vertical-align: top;
        display: inline;
        font-size: 100%;
        border: @blackLine;
        border-radius: @borderRadius @borderRadius 0 0;
        padding: 0.1em 1em;
        margin: 0 0.7em;
        background-color: @headerBackgroundColor;
      }
      h3.selected {
        border-bottom: 2px @backgroundColor solid;
        background-color: @backgroundColor;
        a {
          color: black;
        }
      }
    }
    div.tab {
      padding: 0.7em 2em 0.7em 2em;
      .border;
      div.toelichting {
        margin-bottom: 0.7em;
      }
    }
  }
}


