
@use "styleConfig";
@use "tableStyles";

html {
  touch-action: manipulation;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  background-color: styleConfig.$backgroundColor;
  font-family: Arial, sans-serif;
  letter-spacing: 0.027em;
  line-height: 1.27em;
  text-align: justify;
  text-size-adjust: none;
}

.hidden {
  display: none;
}

img {
  border: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: styleConfig.$linkColor;
  &:hover {
    color: styleConfig.$hoverLinkColor;
  }

  &.nuxt-link-exact-active {
    cursor: default;
    color: black;
    &:hover {
      color: black;
    }
  }
}

h2 {
  font-size: 28px;
  margin: 15px 0 20px 0;
}


ul.info {
  @include styleConfig.noBullets;
  margin: 5px 30px 35px 0;
  img {
    padding-right: 20px;
    vertical-align: bottom;
  }
}


div.toelichting {
  margin: 0 auto 2em auto;
  max-width: 54em;

  ul {
    padding-left: 0;
    li {
      margin-bottom: 0.4em;
      font-size: 90%;
    }
  }
}

div.scrollbox {
  overflow: auto;
  margin: 0 auto;
  max-width: 90vw;

  table.lijst {
    margin: 0;
  }
}


select {
  width: 360px;
  background-color: #fffef2;
  font-size: 13px;
  border-color: #f9bc85;
}

button[type=submit] {
  width: 360px;
  padding: 0;
  font-weight: bold;
}

textarea {
  font-family: Arial, sans-serif;
}


table.info {
  table-layout: fixed;

  > tbody > tr {
    &:not(:first-child) {
      > td, > th {
        border-top: 1px solid grey;
      }
    }

    vertical-align: top;

    > th {
      width: 120px;

      @media (min-width: 1200px) {
        width: 200px;
      }

      font-weight: normal;
      text-align: right;
      padding: 2px 10px;
      border-right: 1px solid grey;
    }
    > td {
      padding: 2px 10px;
    }
  }

  tr.important {
    th, td {
      font-weight: bold;
    }
  }

  tr.unimportant {
    th, td {
      font-size: 14px;
    }
  }

  input, textarea {
    box-sizing: border-box;
    width: 100%;
  }
}

.clear {
  clear: both;
}

.flexTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  @extend .flexTitle;

  .title {
    font-size: 24px;
    margin: 4px 0;
  }

  .subtitle {
    font-size: 14px;
  }
}
