
@import "./styleConfig.css";
@import "./tableStyles.css";

html {
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  letter-spacing: 0.027em;
  line-height: 1.27em;
  text-align: justify;
  text-size-adjust: none;
}

.hidden {
  display: none;
}

img {
  border: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--link-color);
  &:hover {
    color: var(--hover-link-color);
  }

  &.nuxt-link-exact-active {
    cursor: default;
    color: black;
    &:hover {
      color: black;
    }
  }
}

h2 {
  font-size: 28px;
  margin: 15px 0 20px 0;
}

div.toelichting {
  margin: 0 auto 2em auto;
  max-width: 54em;

  & ul {
    padding-left: 0;
    & li {
      margin-bottom: 0.4em;
      font-size: 90%;
    }
  }
}

select {
  width: 360px;
  background-color: #fffef2;
  font-size: 13px;
  border-color: #f9bc85;
}

textarea {
  font-family: Arial, sans-serif;
}

.clear {
  clear: both;
}

.flexTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .title {
    font-size: 24px;
    margin: 4px 0;
  }

  & .subtitle {
    font-size: 14px;
  }
}
